<h3>Component1</h3>

@code {
    protected override void OnInitialized()
    {
    }
    protected override async Task OnInitializedAsync()
    {
    }
    protected override void OnParametersSet()
    {
    }
    protected override async Task OnParametersSetAsync()
    {
    }
    protected override bool ShouldRender()
    {
        return true;
    }
    protected override void OnAfterRender(bool firstRender)
    {
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
    }
}
