@page "/"

<h1>Poor Man's Blazor Wasm Profiler</h1>

<a href="MethodCallStatistics">Method Call Statistics</a>
<a href="RenderTimeStatistics">Render Time Statistics</a>

<Component1 />
<Component2 />

<p>
    Repeat UI:
    <InputSelect @bind-Value="_count">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="10">10</option>
        <option value="100">100</option>
        <option value="1000">1000</option>
    </InputSelect>
</p>

@foreach (int item in Enumerable.Range(1, _count))
{
    <hr />
    @item
    <hr />
    <form>
        <!-- Text Input -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter your name" required>
        <br>

        <!-- Radio Buttons -->
        <label>Gender:</label>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label>
        <br>

        <!-- Checkboxes -->
        <label>Languages you know:</label>
        <input type="checkbox" id="english" name="languages" value="english">
        <label for="english">English</label>
        <input type="checkbox" id="spanish" name="languages" value="spanish">
        <label for="spanish">Spanish</label>
        <input type="checkbox" id="french" name="languages" value="french">
        <label for="french">French</label>
        <br>

        <!-- Select Dropdown -->
        <label for="country">Country:</label>
        <select id="country" name="country">
            <option value="usa">USA</option>
            <option value="canada">Canada</option>
            <option value="uk">UK</option>
            <option value="australia">Australia</option>
            <option value="germany">Germany</option>
        </select>
        <br>

        <!-- Textarea -->
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" cols="50" placeholder="Type your message here"></textarea>
        <br>

        <!-- Buttons -->
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </form>
}

@code {
    private int _count = 1;


}