@page "/"

<h1>Hello, world!</h1>

<ul class="nav flex-column">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="MethodCallStatistics">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Method Call Statistics
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="RenderTimeTracker">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Render Time Tracker
        </NavLink>
    </li>
</ul>